.highlight
  &.vbscript
    display none !important
//   table
//     tr
//       display flex
//   .code
//     pre
//   td.code
//     position relative
//     color $rrr
.hljs
  padding 0
  line-height 1.875em
  mark
    background-color transparent
    color inherit
    &:after
      content ''
      height 1.5em
      display inline-block
      width 100%
      /* transform translateX(-10px); */
      right 0
      position fixed
      background-color rgba(0,0,0,.1)
      +desktop-large() {
        height 1.6em
      }
      @media (prefers-color-scheme: dark)
        background-color rgba(255,255,255,.1)


.post-copyright
  border-left: 3px solid $sidebar-highlight;

.tab
  display inline-block
  margin-left 1em

.color
  &-alert
    color $color-alert
  &-warning
    color $color-warning
  &-info
    color $color-info
  &-success
    color $color-success

.sub-title
  margin-top: 1em;
  display: inline-block;
  color: $color-title;

p + ul
  margin-top -20px
h1,
h2,
h3,
h4,
h5,
h6
  & + p > .sub-title
    margin-top 0

h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
p
  code
    background: transparent;
    border-radius: 0px;
    color: inherit;
    font-family 'Noto Sans TC', "PingFang SC", "Microsoft YaHei", sans-serif

mark
  background #009688
  border-radius 3px

img
  opacity 1
  &:hover
    opacity 1